
<h2>Hello, Term-F Team!</h2>
<p>Sequence Game</p>

<%- if signed_in? %>
  <h1>Signed in</h1>
  <a href="/users/sign_out">Sign Out</a>
<%- else -%>
  <script type="text/javascript">
    window.location.href="/users/sign_in"  // put your correct path in a string here
  </script>
<% end-%>
