<%- if signed_in? %>
  <!-- <h1>Signed in</h1>
  <p>Hello, <%= current_user.username %></p>
  <a href="/users/sign_out">Sign Out</a> -->
  <script type="text/javascript">
    window.location.href="/lobby/boards";
  </script>
<%- else -%>
  <script type="text/javascript">
    window.location.href="/users/sign_in";
  </script>
<% end-%>
