<div class="container">
  
</div>
<div class="container">
  <div class="row">
    <div class="col-md-9 col-sm-12 boards-column">
      <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a href="#">2 Players Tables</a></li>
        <li role="presentation"><a href="#">3 Players Tables</a></li>
        <li role="presentation"><a href="#">4 Players Tables</a></li>
      </ul>
      <div class="col-sm-12 2players-boards"></div>
      <div class="col-sm-12 3players-boards"></div>
      <div class="col-sm-12 4players-boards"></div>
    </div>
    <div class="col-md-3 col-sm-12 lobby-chat-room">

    </div>
  </div>
</div>
