<!--

 -->
<script>
  var currentBoardId = '' || '<%= @board.id%>';
  var cuurentTeamId = '' || '<%= current_user.current_team_id%>';
</script>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-9 col-sm-12 col-xs-12 game-columns game-panel">
      <div id="game-view" class="game-view">
        <!-- canvas goes here -->
      </div>
    </div>
    <div class="col-md-3 col-sm-12 col-xs-12 lobby-chat-room side-panel">
      <div class="panel-grabber btn btn-info hidden">Open Panel</div>
      <div class="game-buttons">
        <div class="mute col-xs-6">
          <span class="glyphicon glyphicon-volume-up"></span>&nbsp;Mute
        </div>
        <div class="leave col-xs-6">
          <span class="glyphicon glyphicon-log-out"></span>&nbsp;Leave
        </div>
      </div>
      <div class="user-list">
      </div>
      <div class="sequences-report">
      </div>
      <div class="turn-reminder">
        <span class="content"></span>
      </div>
      <div class="col-sm-12 chat-container">
      </div>

    </div>
  </div>
</div>
