.pusher-chat-widget {

}

.pusher-chat-widget input {
  width: 280px;
}

.pusher-chat-widget label {
  font-weight: bold;
  text-align: left;
  padding-top: 6px;
  line-height: 18px;
}

.pusher-chat-widget-header {
  border-bottom: 1px solid #EBEBEB;
  margin-bottom: 5px;
  padding-bottom: 5px;
  margin-top: 5px;
  overflow: auto;
}

.pusher-chat-widget-current-user-image {
  float: left;
  height: 32px;
  overflow: hidden;
  width: 32px;
  margin-top: 3px;
}

.pusher-chat-widget-current-user-name {
  margin-left: 42px;
  font-weight: bold;
  font-size: 20px;
  line-height: 40px;
}

.pusher-chat-widget-header input {
  display: block;
}



.pusher-chat-widget textarea {

}

.pusher-chat-widget-send-btn {
  /*width: 50px;
  height: 40px;

  font-size: 11px;
  line-height: normal;
  padding: 5px 10px 5px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  vertical-align: top;

  color: white;
  background-color: #0064CD;

  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  border: 1px solid #CCC;*/
}

.pusher-chat-widget-footer {
  border-top: 1px solid #EBEBEB;
  margin-top: 5px;
  margin-bottom: 5px;
}

/* activity streams - messages */
.pusher-chat-widget ul.activity-stream {

}



.pusher-chat-widget ul.activity-stream {
  overflow: auto;
}






.pusher-chat-widget ul.activity-stream li .timestamp {
  color: #999!important;
  font-size: 0.8em;
}

.pusher-chat-widget ul.activity-stream li .activity-actions span:first-child {
  margin-left: 15px;
}

.pusher-chat-widget ul.activity-stream li .activity-actions {
  color: #999!important;
  font-size: 0.8em;
}

.pusher-chat-widget ul.activity-stream li .activity-actions span b {
  font-weight: normal;
}
