body {
    background: #0d2432 image-url('background_pattern.png');
}
.logo {
  color: #4B9ECC;
  cursor: default;
  font-family: 'Cinzel', serif;
  font-size: 4.0em;
  padding-top: 20px;
  text-align: center;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.8);
  transition: text-shadow 0.15s ease-in-out 0s;
  // min-height: 500px;
}
// .logo:hover {
//   text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
// }
.logo .large {
  font-size: 1.4em;
}
.login-container {
    padding-top: 20px;
}
.sign-in-container {
  float: none;
  margin: 0 auto;
  text-align: center;
}
.sign-in-form .form-control {
    background: linear-gradient(to bottom, rgba(13,22,29,1) 15%,rgba(23,44,61,1) 50%,rgba(24,39,51,1) 100%);
    border: 1px solid #4A555E;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 5px rgba(0, 0, 0, 0.5);
    color: #4B9ECC;
    display: block;
    font-size: 14px;
    height: 34px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
}
.sign-in-form .form-control:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}
.sign-in-form .btn-info {
    -moz-user-select: none;
    background: linear-gradient(to bottom, rgba(23,44,61,1) 0%,rgba(23,44,61,1) 50%,rgba(13,22,29,1) 50%,rgba(20,37,51,1) 100%);
    border: 1px solid #4A555E;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 3px rgba(0, 0, 0, 0.8);
    color: #ccc;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 6px 12px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s, color 0.15s;
}

.sign-in-form .btn-info:hover {
    color: #fff;
    border-color: #66afe9;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}
.sign-in-form .btn-info:active {
    border-color: #66afe9;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    outline: none;
}
.screenshot {
  background: image-url('screenshots.png') center top no-repeat;
  background-size: contain;
  min-height: 360px;
  margin-top: 40px;
}
